<%- include('partials/header.ejs') %>
<% if(post) { %>
<form action="/api/posts/<%= post._id %>/update" method="post">
    <label for="title">Title: </label>
    <input type="text" name="title" placeholder="Title" required>
    <label for="body">Content: </label>
    <textarea type="text" placeholder="Post Content" name="body" maxlength="100" required></textarea>
    <label for="publish">Publish</label>
    <input type="radio" id="publish" name="published" value="true">
    <label for="unpublish">Unpublish</label>
    <input type="radio" id="unpublish" name="published" value="false">
    <button type="submit">Submit</button>
</form>
<% } %>